if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_PopulateGridSumary]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_PopulateGridSumary]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_PopulateGridSumary] AS

SELECT 
	
	UserName AS [USER], 
	UserStatus.[Description] AS [ACTIVE],
	IncomingBalance AS [POSITIVE DEPOSIT], 
	OutgoingBalance AS [CREDIT TAKEN], 
	TotalBalance AS [BALANCE],
	StartDate AS [ACCOUNT OPENED],
	EndDate AS [ACCOUNT CLOSED],
	Users.UserId AS [USER ID]

FROM Users WITH(NOLOCK) 
	LEFT JOIN TransactionSumary WITH(NOLOCK) ON TransactionSumary.UserId = Users.UserId
	INNER JOIN UserStatus WITH(NOLOCK) ON Users.IsActive = UserStatus.IsActive

ORDER BY Users.IsActive DESC, Users.UserId
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

