if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_AddUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_AddUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_AddUser] 
(
	@userName VARCHAR(15)
)
AS

IF @userName = null
RETURN


DECLARE @newUserName as VARCHAR(20)
DECLARE @count AS INT
DECLARE @postFix AS INT


SET @newUserName = @userName
SET @count = 1
SET @postFix = 1

WHILE ( @count != 0 )
BEGIN
	SELECT @count = COUNT(UserName) FROM Users WHERE UserName = @newUserName AND IsActive = 1
	IF @count > 0 
	BEGIN
		SET @newUserName = @userName + ' # ' + CAST(@postFix AS CHAR)
		SET @postFix = @postFix + 1
	END
END

INSERT INTO [Users] (UserName, IsActive, StartDate) VALUES ( @newUserName, 1, GetDate())
INSERT INTO TransactionSumary (UserId, IncomingBalance, OutgoingBalance, TotalBalance) VALUES (@@IDENTITY, 0 , 0, 0)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

