<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExpenseManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ExpenseManager.Settings.ExpenseManagerConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=ExpenseManager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ExpenseManager.Settings>
      <setting name="maxUsers" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="XMLFilesPath" serializeAs="String">
        <value>XMLFiles\</value>
      </setting>
      <setting name="MODE" serializeAs="String">
        <value>DB</value>
      </setting>
    </ExpenseManager.Settings>    
  </applicationSettings>
</configuration>