<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExpenseManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ExpenseManager.Settings>
      <setting name="maxUsers" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="XMLFilesPath" serializeAs="String">
        <value>D:\Downloads\ExpenseManager\XMLDATA</value>
      </setting>
      <setting name="DBStringLocalHost" serializeAs="String">
        <value>workstation id=localhost;packet size=4096;integrated security=SSPI;data source=localhost;persist security info=True;initial catalog=ExpenseManager</value>
      </setting>
    </ExpenseManager.Settings>    
  </applicationSettings>
</configuration>