if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_DeactivateUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_DeactivateUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_DeactivateUser] 
(
	@userId int
)
AS

if @userId = null
return

UPDATE Users SET IsActive = 0, EndDate = getDate() WHERE UserId = @userId
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

