if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_GetUserBalance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_GetUserBalance]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_GetUserBalance] 
(
	@userId int
)
AS

if @userId = null
return

SELECT TotalBalance AS [BALANCE] FROM TransactionSumary WITH(NOLOCK) WHERE TransactionSumary.UserId = @userId
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

