if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_AddSharedCost]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_AddSharedCost]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_AddSharedCost] 

-- Exposed Variable Declaration
	@transactionId as integer,
	@userId            as integer,
	@amount          as float
	--@status            as integer output
AS

-- Local Variable Declarations

Declare @SQL nvarchar(400)
Declare @param nvarchar(400)

--Prcedure Imlementation Start
INSERT INTO Transactions VALUES  ( @transactionId  ,  @userId  , @amount )

--set @param = N'@status as integer output'
--set @SQL = N'@status = INSERT INTO Transactions Values (' + @transactionId + ',' + @userId + ',' + @amount +')'
--exec sp_executeSQL @SQL, @param, @status output
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

