if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_getActiveUsers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_getActiveUsers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE dbo.sp_getActiveUsers AS

SELECT UserId, UserName from [Users] WHERE IsActive = 1  ORDER BY UserId
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

