if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_TransactionDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_TransactionDetails]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_TransactionDetails] 

@userId as integer,
@showPositiveTransactions as bit

AS

if( @showPositiveTransactions = 1) 

BEGIN 

SELECT TransactionDetails.TransactionDate as [DATE], Transactions.Amount As [Amount CREDITED To Your Account], TransactionDetails.TransactionDetails as [DESCRIPTION] 
FROM 
Transactions INNER JOIN TransactionDetails
ON
Transactions.TransactionId = TransactionDetails.TransactionId
WHERE
( Transactions.Amount > 0 AND Transactions.UserId = @userId )

END

ELSE

BEGIN

SELECT 
TransactionDetails.TransactionDate as [DATE], 
Transactions.Amount As [DEDUCTION From Your Account], 
Users.UserName As [PAID BY], 
TransactionDetails.TransactionDetails as [DESCRIPTION] 

FROM
Transactions 
INNER JOIN TransactionDetails ON
Transactions.TransactionId = TransactionDetails.TransactionId
 INNER JOIN Users ON
 TransactionDetails.TransactionPayee = Users.UserId

WHERE
Transactions.Amount < 0 AND Transactions.UserId = @userId

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

