if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_GetTransactionId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_GetTransactionId]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].[sp_GetTransactionId] 

-- Exposed Variable Declaration
             @payeeId as integer,
	@details as nvarchar(100),
	@newTransactionId  as integer output
AS

-- Local Variable Declarations

Declare @SQL nvarchar(400)
Declare @param nvarchar(400)
Declare @MaxTransactionId integer

--Prcedure Imlementation Start


set @param = N'	@MaxTransactionId as integer output'
set @SQL = N'SELECT @MaxTransactionId = MAX ( TransactionId ) FROM TransactionDetails'
exec sp_executeSQL @SQL, @param, @MaxTransactionId output

if @MaxTransactionId = null
begin
set @MaxTransactionId = 0
end

set @newTransactionId = @MaxTransactionId + 1
INSERT INTO  TransactionDetails VALUES ( @newTransactionId, @details, getDate(), @payeeId)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

